In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [15]:
#Index Levels
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [16]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [17]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [18]:
inside

[1, 2, 3, 1, 2, 3]

In [19]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [22]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [23]:
df

             A         B
G1 1  0.687196 -1.845484
   2 -1.418907 -0.528074
   3  0.083883 -0.234380
G2 1 -2.881587 -1.070037
   2  0.847659  0.047698
   3 -0.002087 -1.041817

In [26]:
df.loc['G1']

          A         B
1  0.687196 -1.845484
2 -1.418907 -0.528074
3  0.083883 -0.234380

In [27]:
df.loc['G1'].loc[1]

A    0.687196
B   -1.845484
Name: 1, dtype: float64

In [29]:
df.index.names = ['Groups', 'Num']

In [30]:
df

                   A         B
Groups Num
G1     1    0.687196 -1.845484
       2   -1.418907 -0.528074
       3    0.083883 -0.234380
G2     1   -2.881587 -1.070037
       2    0.847659  0.047698
       3   -0.002087 -1.041817

In [33]:
df.loc['G2'].loc[2]['B']

0.04769815029553116

In [37]:
df.loc['G1'].loc[3]['A']

0.08388301287288712

In [38]:
df.xs('G1')

            A         B
Num
1    0.687196 -1.845484
2   -1.418907 -0.528074
3    0.083883 -0.234380